body{
    background-color: #faefcf;
    color: #8f5a22;
}
h1{ font-family: "Impact";
    
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    font-weight: 300;
    text-align: center;
    margin: 110px; 
}
h2,legend{ font-family: "Impact";
    
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    font-weight: 300;
    display: flex;
    text-align: center;
    margin: 50px; 
        align-items: center; 
    justify-content: center;
}
ol,p,a{
font-family: "Oswald", sans-serif;
font-size: large;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;

}
.bouton{
    background-color:#8f5a22;
    border-radius: 10px ;
    color: antiquewhite;
    border: 3px solid antiquewhite;
    display: flex;
    
    align-items: center; 
    justify-content: center; 
    
    


}
.bouton:hover{
    opacity: 0.8;
}
.bouton:active{
    opacity: 0.5;
}

.dispositif{
   color:brown; 
}
ul{ color: antiquewhite;
      font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
 background: #3C3B3F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.vision {
    display: flex;
    flex-wrap: nowrap;
    max-width: 500px ;
    justify-content: center;
    align-items: center;
}
.peinture{
    max-width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.bloc{
    justify-content: center;
display: grid;
grid-template-columns: 250px 250px 250px;
grid-template-rows: 150px 150px 50px;
gap: 20px;
}

.neutre{
    grid-column-start: 1;
    grid-column-end:4; 
}
form{
    justify-content: center;
display: flex;
flex-direction: column;
margin: auto;

}
label{
    justify-content: center;
display: flex;
flex-direction: column;
margin: auto;
padding:10px;

}
@media screen and (max-width : 1200px) {
    .bloc{

grid-template-columns: 250px 250px ;
grid-template-rows: 150px 150px 150px 150px;
gap: 5px;
}
.neutre{
    grid-column-start: 1;
    grid-column-end:3; 
}
}
    @media screen and (max-width : 960px) {
    .bloc{

grid-template-columns: 250px ;
grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
gap: 5px;
}
.neutre{
    grid-column-start: 1;
    grid-column-end:2; 
}
img{
    display: none;
}
p{
    overflow: scroll;
}
}